@import url("./list-item_ref/header__list-item_ref.css");

.header__list-item {
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
}

@media (max-width: 870px) {
  .header__list-item {
    background-color: transparent;
    border-bottom: none;
  }
}

.header__list-item:hover {
  background-color: #eaeaea;
}

@media (max-width: 870px) {
    .header__list-item:hover {
      background-color: #572D70;
    }
  }