.form__container-name-region {
    display: flex;
}

@media (max-width: 765px) {
    .form__container-name-region {
        flex-direction: column;
    }
  }

.form__container-item {
  display: flex;
  flex-direction: column;
}

.form__container-item_name {
    margin-right: 50px;
}

@media (max-width: 765px) {
    .form__container-item_name {
        margin-bottom: 40px;
    }
  }

.form__container-item_history {
    margin-top: 50px;
}