@import url("./button/form__button.css");
@import url("./checkbox/form__checkbox.css");
@import url("./container/form__container.css");
@import url("./item-text/form__item-text.css");
@import url("./item/form__item.css");
@import url("./photobutton/form__photobutton.css");
@import url("./text/form__text.css");
@import url("./textarea/form__textarea.css");
@import url("./form_outline/form_outline.css");

.form {
  margin: 0 auto 160px;
  max-width: 1200px;
  display: flex;
}

@media (max-width: 1200px) {
  .form {
    display: block;
  }
}

@media (max-width: 1100px) {
  .form {
    max-width: 90%;
  }
}

@media (max-width: 765px) {
  .form {
    margin-bottom: 80px;
  }
}