@import url("./active/header__li_active.css");
@import url("./li_mod/header__li_mod.css");

.header__li {
    list-style: none;
    border: 1px solid #eaeaea;
    opacity: 0;   
    z-index: -1;
    position: relative;
}

@media (max-width: 870px) {
    .header__li {
      display: none;
    }
  }