.map__balloon-headline {
    font-size: 15px;
    line-height: 19px;
    color: #653D7C;
    margin-left: 16px;
    width: 60%;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Open Sans;
}