/* кнопка согласен дать данные */
.form__input-checkbox{
    display: none;
}
.form__input-checkbox + .form__label-checkbox{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #9F82C9;    
    text-align: center;
}

.form__input-checkbox:checked + .form__label-checkbox:before{
    color: #9F82C9;
    content: '✔';
    font-size: 14px;
}

.form__container-privacy {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
}

.form__container-privacy-text {
    margin: 0 0 0 25px;
    color: #9F82C9;
    width: 90%;
    position: absolute;
    top: 0;
    text-align: left;
}

.form__container-privacy-text:hover {
    cursor: pointer;
}