/* кнопка согласен дать данные */
.form__input-checkbox{
    display: none;
}
.form__input-checkbox + .form__label-checkbox{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #9F82C9;    
    text-align: center;  
}

.form__input-checkbox:checked + .form__label-checkbox:before{
    color: #9F82C9;
    content: '✔';
    font-size: 12px;
}

.form__container-privacy {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
}

.form__container-privacy-text {
    margin: 0 0 0 10px;
    color: #9F82C9;
}