/* кнопка согласен дать данные */
.form__checkbox{
    display: none;
}
.form__checkbox + .form__text-checkbox{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #9F82C9;    
    text-align: center;
}

.form__checkbox:checked + .form__text-checkbox:before{
    color: #9F82C9;
    content: '✔';
    font-size: 14px;
}