.header__button {
    background-color: #00B956;
    width: 19%;
    height: 40px;
    color: white;
    border: none;
    margin-left: 10%;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.9;
}