@import url("./__logo/header__logo.css");
@import url("./__nav/header__nav.css");
@import url("./__arrow/header__arrow.css");
@import url("./__container/header__container.css");
@import url("./__button/header__button.css");
@import url("./__menu-item/header__menu-item.css");

.header {
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  font-family: 'Neucha';
  color: white;
}