@import url("./logo/header__logo.css");
@import url("./nav/header__nav.css");
@import url("./arrow/header__arrow.css");
@import url("./container/header__container.css");
@import url("./button/header__button.css");
@import url("./menu-item/header__menu-item.css");
@import url("./menu-container/header__menu-container.css");
@import url("./nav-container/header__nav-container.css");
@import url("./image/header__image.css");
@import url("./gamburger/header__gamburger.css");
@import url("./gamburger-close/header__gamburger-close.css");
@import url("./item/header__item.css");

.header {
  font-size: 21px;
  line-height: 23px;
  color: white;
}