.map__balloon-subheader {
    color: #00B956;
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: Open Sans;
}