.header__nav-container {
    margin-top: 12px;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .header__nav-container {
      max-width: 90%;
    }
  }