.form__text {
  max-width: 360px;
  margin-top: 0;
  font-size: 22px;
  line-height: 30px;
  color: #572d70;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .form__text {
    margin-bottom: 60px;
    max-width: 70%;
  }
}