@import url("../vendor/normalize.css");
@import url("../blocks/header/header.css");

@font-face {
    src: url("../fonts/q5uGsou0JOdh94bfuQltOxU.woff2") format('woff2');
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
}


/*
body {
    margin: 0 auto;
    width: 83%;
}

@media (max-width: 769px) {
   body {
    width: 92%;
   }
}
*/