@import url("../vendor/normalize.css");
@import url("../blocks/header/header.css");
@import url("../blocks/information/information.css");
@import url("../blocks/map/map.css");

@font-face {
    src: url("../fonts/q5uGsou0JOdh94bfuQltOxU.woff2") format('woff2');
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'Neucha';
}

ul, li {
    margin: 0;
    padding: 0;
}

.f {
    width: 150px;
}




/*
body {
    margin: 0 auto;
    width: 83%;
}

@media (max-width: 769px) {
   body {
    width: 92%;
   }
}
*/